<h2>消息中心 > 数据统计</h2>
<eui-datagrid [data]="data">
  <eui-grid-column field="itemid" title="Item ID"></eui-grid-column>
  <eui-grid-column field="name" title="Name"></eui-grid-column>
  <eui-grid-column field="listprice" title="List Price" align="right"></eui-grid-column>
  <eui-grid-column field="unitcost" title="Unit Cost" align="right"></eui-grid-column>
  <eui-grid-column field="attr" title="Attribute" width="30%"></eui-grid-column>
  <eui-grid-column field="status" title="Status" align="center"></eui-grid-column>
</eui-datagrid>